body {
    font-family: Open Sans;
}

.banner-button {
    border: 2px solid white;
    background-color: #444444;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.menu-glowne
{
    height: 10%;
    background-color: black;
    color: white;
}
.guzik
{
    border: solid white 1px;
}


.kalenarz-nawigacja
{
    height: 25%;
    background-color: black;
    color: white;
    text-decoration: none;
}

.eventy-main
{
    height: 55%;
}


.stopka
{
    height: 10%;
    background-color: black;
    color: white;
}