body {
    font-family: Open Sans;
    overflow: hidden;
}


.logo-menu
{
    height: 15%;
    width: 100%;
    background-color: #444444;
    color: white;
}

.banner-button {
    border: 2px solid white;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.banner-button ul li a
{
    text-decoration: none;
    color: white;
}

.logo
{
    color: white;
    font-size: 1.2em;
    margin-left: 80%;
    text-align: right;
    display: inline-block;
}

.nawigacja
{
    height: 30%;
    width: 100%;
    background-color: #444444;
}

#guzik-prawy
{
    width: 5%;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.3em;
    position: absolute;
    z-index: 101;
}
#guzik-lewy
{
    width: 5%;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.3em;
    position: absolute;
    z-index: 101;
}

#guzik-lewy a
{
    color: white;
    text-decoration: none;
}

#guzik-prawy a
{
    color: white;
    text-decoration: none;
}

.lista
{
    background-color: #444444;
    background-size: auto;
    background-position: center;
    background-repeat: repeat-x;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 5%;
    z-index: 99;
}


.lista li
{
    display: inline-block;
    text-align: justify;
    border: 2px solid white;
    font-size: 1em;
    position: relative;
}

.lista li a
{
    width: 15%;
    padding: 0.1em;
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.lista li:hover
{
    color: black;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
}

.lista li a:hover
{
    color: black;
}

.glowny-content
{
    min-height: 40%;
    width: 100%;
    background-color: blue;
    z-index: 100;
}


.stopka
{
    height: 10%;
    width: 100%;
    background-color: #444444;
    color: white;
}