body {
    font-family: Open Sans;
    overflow: hidden;
}
.logo-menu
{
    height: 7vh;
    width: 100vw;
    background-color: #444444;
    color: white;
}
.banner-button {
    border: 2px solid white;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    top: 1%;
}
.banner-button ul li a
{
    text-decoration: none;
    color: white;
}

.logo
{
    color: white;
    font-size: 1.5em;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 1.5%;
    right: 5%;
}

.nawigacja
{
    background-color: #444444;
    width: 100vw;
    height: 10vh;
}
.guzik
{
    width: 5%;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.3em;
    position: absolute;
    z-index: 101;
}
.guzik a
{
    color: white;
    text-decoration: none;
}
#lewy
{
    left: 2%;
    top: 9vh;
}
#prawy
{
    right: 2%;
    top: 9vh;
}
.lista
{
    background-color: #444444;
    background-size: auto;
    background-position: center;
    background-repeat: repeat-x;
    display: inline-block;
    width: auto;
    text-align: center;
    margin-left: 5%;
    z-index: 99;

}

.lista li
{
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    font-size: 1em;
    position: relative;
    margin: 0.5em 1em;
    padding: 0.2em 0.2em;
}

.lista li a
{
    width: 15%;
    padding: 0.1em;
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.lista li:hover
{
    color: black;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
}

.lista li a:hover
{
    color: black;
}
.glowny-content
{
    width: 100vw;
    height: 80vh;
    background-color: #2aabd2;
}
.stopka
{
    width: 100%;
    height: 5vh;
    position: fixed;
    top: 95vh;
    background-color: #444444;
}

