body {
    font-family: Open Sans;
    overflow: hidden;
    background-color: #444444;
}
.logo-menu
{
    height: 7vh;
    width: 100vw;
    background-color: #444444;
    color: white;
}
.banner-button {
    border: 2px solid white;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    top: 1%;
}
.banner-button ul li a
{
    text-decoration: none;
    color: white;
}

.logo
{
    color: white;
    font-size: 1.5em;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 1.5%;
    right: 5%;
}
.block {
    position: absolute;
    background-color: #444444;
    left: 5vw;
    width: 1400px;
    height: 10vh;
    margin: 5px;
}
.lista
{
    background-color: #444444;
    background-size: auto;
    background-position: center;
    background-repeat: repeat-x;
    display: inline-block;
    width: auto;
    text-align: center;
    margin-left: 5%;
    z-index: 99;

}

.lista li
{
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    font-size: 1em;
    position: relative;
    margin: 0.5em 1em;
    padding: 0.2em 0.2em;
}

.lista li a
{
    width: 15%;
    padding: 0.1em;
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.lista li:hover
{
    color: black;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
}

.lista li a:hover
{
    color: black;
}
/*.unter1
{
    background-color: #444444;
    height: 10vh;
    position: absolute;
    top: 7vh;
    left: 0;
}*/
.guzik
{
    width: 5%;
    height: 8vh;
    color: white;
    background-color: #444444;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    padding-top: 0.3em;
    position: absolute;
    z-index: 101;
}
.guzik a
{
    color: white;
    text-decoration: none;
}
#left
{
    left: 0;
    top: 9vh;
}
#right
{
    right: 0;
    top: 9vh;
}

.glowny-content
{
    position: absolute;
    top: 17vh;
    width: 100vw;
    height: 77vh;
    background-color: #2aabd2;
    z-index: 10;
}
.stopka
{
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 92vh;
    background-color: #444444;
}